@media(max-width: 540px){
    
    .carousel {
        height: 10px;
        width: 540px;
    }

}


@media(max-width: 992px){
    
    .bd-placeholder-img {
        width: 115%;
    }


    .img-responsive {
        width: 100%;
      }

      
      
}