
@media(max-width: 991px) {
    body{
        background-color: #fff;
      }
      

    .carousel-item {
        height: 32rem;
    }
}

@media(max-width: 768px) {


    .carousel-item {
        height: 25rem;
    }
}

@media(max-width: 539px) {
    

    .btn {
        border-radius: 5px;
        padding: 3px 5px;
    }


    .carousel-item {
        height: 20rem;
    }


    .carousel-caption {
        font-size: 0.8em;
        bottom: 2.5rem;
        padding: 6px;
        left: 0;
        right: 0;
    }

    h2 {
        font-size: 1em;
    }
}

@media(max-width: 429px) {


    .carousel-item {
        height: 17rem;
    }


    .carousel-caption {
        font-size: 0.7em;
    }


}