@media(max-width: 768px){
    
    .carousel-caption {
        bottom: 5em;
        padding: 1em;
        left: 10%;
        right: 10%;
        
    }



}


@media(max-width: 992px){
    
    /* .bd-placeholder-img {
        width: 115%;
    }
 */

    .img-responsive {
        width: 100%;
      }

      
      
}