body{
    background-color: #fff;
}
  
main .vida {
    margin-top: 50px;
}

.inf {
    background-color: #000;
    color: #f3f0e0;
    flex-shrink: 0;
    height: 400px;

}

.bg-inf {
    padding-right: 0 ;
    padding-left: 0; 
    height: 400px;
}

.sobre-1 {
    height: 100%;
    width: 100%;
}

.inf h2 {
    padding: 13px;
}

.texto {
    font-size: 1.05em;
}

.carreira {
    font-size: 1em;
}

@media(max-width: 430px) {
    .carreira {
        font-size: 0.8em;
    }

    .inf h2 {
        padding: 10px;
    }
}

@media(max-width:768px) {
    .carreira {
        font-size: 1em;
    }

    .vida #a1 {
        order: 1;
    } 

    .vida #a2 {
        order: 2;
    } 

    .vida #a3 {
        order: 3;
    } 

    .vida #a4 {
        order: 4;
    } 

    .vida #a5 {
        order: 5;
    } 

    .vida #a6 {
        order: 6;
    } 

    .vida #a7 {
        order: 7;
    } 
    
    .vida #a8 {
        order: 8;
    } 
}
