html {
  scroll-behavior: smooth;
}

header {
  background-color: #ffa500;
}

.nav-link {
  font-weight: 600;
  color: #0000ff;
  font-size: 1.1em;
}

.nav-link:hover {
  color: #413c41;
}

header img {
  width: 70px;
  height: 55px;
}

#navbarSupportedContent {
  color: #0000ff;
}

 .carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 2rem;
  z-index: 10;
  background-color: #000000a4;
  padding: 15px;
  left: auto;
  right: 3rem;
  font-size: 1.1em;
  color: #FFF;
  text-shadow: 3px 2px 5px #5a5856;
}

.carousel-item {
  height: 42rem;
}

.img-banner{
  filter: brightness(75%);
}


.btn {
  border-radius: 5px;
  padding: 6px 8px;
}

.btn.btn-banner {
  color: #ffa500;
  background-color: #5c0802;
  text-decoration: none;
}

.btn.btn-banner a:visited {
  text-decoration: none;
}


 #largura-card {
  gap: 50px;
}
#obras h3 {
  text-align: center;
}


.album .col {
  height: 420px;
  width: 320px;
  background-color: #5c0802;
  color: #ffa500;
  justify-content: center;
  box-shadow: 6px 3px 3px #413c41;

  border-radius: 10px;
  transition: 0.7s;
}

.album .col:hover {
  transform: scale(1.05);
}

.small-image-container {
  border-radius: 8px 8px 0 0;
  margin-top: 10px;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.album h4,
.card-text {
  align-content: center;
  align-items: center;
  text-align: center;
}

.btn.btn-info:hover,
.btn.btn-banner:hover {
color: #FFF;
background-color: #0000ff;
}

#img-a1 {
  background-image: url('../img/album-01-ironia-do-policial-negro.png');
}

#img-a2 {
  background-image: url('../img/album-02-passaro-no-dinheiro.png');
}

#img-a3 {
  background-image: url('../img/album-03-caveira.png');
}

#img-a4 {
  background-image: url('../img/album-04-pescaria.png');
}

#img-a5 {
  background-image: url('../img/album-05-deus-lei.png');
}

#img-a6 {
  background-image: url('../img/album-06-coroas.png');
}

#img-a7 {
  background-image: url('../img/album-07-boxeador.png');
}

#img-a8 {
  background-image: url('../img/album-08-cabeza.png');
}

#img-a9 {
  background-image: url('../img/album-09-despensador-de-pez.png');
}

.frase {
  text-align: right;
  font-size: 1.2em;
  font-weight: 600;
}

.bi.bi-arrow-up-square-fill {
  text-decoration: none;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #0000ff;
  font-size: 32px;
}

/* ---------------------FOOTER */
footer {
  height: 200px;
  width: 100%;
  color: #ffa500;
  background-color: #000;
  border-top: 2px solid #0000ff;
  text-align: center;
}

footer h6 { 
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-top: 16px;
}

footer i {
  color: #ffa500;
  font-size: 32px;
}

footer a:hover i {
  color: #0000ff;
}

#social-icons {
  gap: 10px;
}

footer #ano {
  border-top: 1px solid #413c41a4;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  padding: 2px;
}